Flask
Pillow
PyPDF2
SpeechRecognition
asyncio
beautifulsoup4
datasets
io
json
logging
matplotlib
numpy
opencv-python
os
pandas
pydicom
pytesseract
python-docx
pyttsx3
requests
scikit-learn
textblob
transformers
vaderSentiment
wikipedia
wikipedia-api
wordcloud